# Local development only (never commit real values).
# MONGODB_URI_TICKERTAPE=mongodb+srv://USER:PASSWORD@cluster.example.mongodb.net/demat?retryWrites=true&w=majority
MONGODB_URI_TICKERTAPE=mongodb+srv://tester:tester1234@cluster0.hlicuim.mongodb.net/demat?retryWrites=true&w=majority


# Fallback also supported:
# MONGODB_URI=...

PORT=3000

# GitHub Actions secrets:
#   AWS_ACCESS_KEY_ID
#   AWS_SECRET_ACCESS_KEY
#   AWS_REGION
#   MONGODB_URI_TICKERTAPE  (or MONGODB_URI)
#   TF_STATE_BUCKET
