MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/?appName=Cluster0
MONGODB_DB=nutrisoft
MONGODB_COLLECTION=mytable
MONGODB_CATEGORIES=categories

AWS_REGION=ap-south-1
S3_BUCKET=nutrisoft-media
CDN_BASE=https://nutrisoft-media.s3.ap-south-1.amazonaws.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
